#productsPage {
  align-content: center;
  padding-top: 30px;
  padding-bottom: 100px;
}

.products {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 500px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-items: center;
  grid-template-columns: auto auto auto;
  align-items: center;
  margin-top: 30px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 450px;
  background-color: #c69c5c;
}

.products img {
  padding: 10px;
  width: 300px;
  height: 350px;
}
