#users {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 400px 400px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-items: center;
  grid-template-columns: auto auto auto;
  align-items: center;
  padding: 5px;
}

.userInfo {
  text-align: center;
  justify-content: center;
  padding: 10px;
  height: 200px;
  width: 200px;
  background-color: burlywood;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
