.shopping-cart {
  width: 750px;
  margin: 90px auto;
  background: #fff8e1;
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-right: 80px;
  margin-bottom: 25px;
  margin-top: 70px;
}
.Toastify__toast-container {
  width: 500px;
}
.button {
  background-color: #ffc107; /* Green background */
  border: solid #ff6f00;
  color: white; /* White text */
  width: 30%;
  height: 50px;
}
.total-price {
  width: 83px;
  padding-top: 40px;
  text-align: left;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

.textblock {
  text-align: center;
}
