#homePageGrid {
  display: grid;
  grid-auto-flow: rows;
  grid-template-rows: 200px 200px;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  justify-items: center;
  grid-template-columns: auto auto;
  align-items: center;
}

button {
  width: 200px;
}

.homePageImg {
  border: black;
}
